<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="footer" th:remove="tag">
        <footer class="text-left" id="footer-bar">
            <!-- Grid container -->
            <div class="container p-4">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">About</h5>
    
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">About us</a>
                            </li>
                            <li>
                                <a href="#">Term of service</a>
                            </li>
                            <li>
                                <a href="#">Privacy notice</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Category</h5>
                    
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">Item 1</a>
                            </li>
                            <li>
                                <a href="#">Item 2</a>
                            </li>
                            <li>
                                <a href="#">Item 3</a>
                            </li>
                            <li>
                                <a href="#">Item 4</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
    
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Social</h5>
    
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!">Facebook</a>
                            </li>
                            <li>
                                <a href="#!">Instagram</a>
                            </li>
                            <li>
                                <a href="#!">Twitter</a>
                            </li>
                            <li>
                                <a href="#!">YouTube</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
    
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>
    
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!">Link 1</a>
                                <a href="#!">Link 1</a>
                                <a href="#!">Link 1</a>
                            </li>
                            <li>
                                <a href="#!">Link 2</a>
                                <a href="#!">Link 2</a>
                                <a href="#!">Link 2</a>
                            </li>
                            <li>
                                <a href="#!">Link 3</a>
                                <a href="#!">Link 3</a>
                                <a href="#!">Link 3</a>
                            </li>
                            <li>
                                <a href="#!">Link 4</a>
                                <a href="#!">Link 4</a>
                                <a href="#!">Link 4</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->
    
            <!-- Copyright -->
            <div class="text-center p-3" id="footer-bottom">
                © 2023 Copyright:
                <a href="/">Phone Store</a>
                . Template by <a href="https://mdbootstrap.com">MDBootstrap.com</a>
            </div>
            <!-- Copyright -->
        </footer>
    </div>
</body>

</html>