<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="header" th:remove="tag">
        <header class="sticky-top">
            <nav class="navbar navbar-expand-sm navbar-light" id="nav-bar">
                <div class="container">
                    <a class="navbar-brand" href="/"><img src="/static_files/images/logos/logo_2.png" height="60" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <form class="input-group mx-5 my-1 px-3" action="/search" method="get">
                            <input type="text" class="form-control" id="search-query" name="q" placeholder="Search a product..." required th:value="${query == null ? '' : query}">
                            <div class="input-group-prepend">
                                <div class="input-group-text btn-search"><button class="btn btn-transparent"><i class="bi bi-search text-black"></i></button></div>
                            </div>
                        </form>
                        <ul class="navbar-nav ms-auto align-items-center">
                            <div th:with="conidtion=${name != null}" th:remove="tag">
                                <li class="nav-item dropdown" th:if="${conidtion}">
                                    <a class="nav-link my-1 auth dropdown" href="#"
                                        id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <div class="container d-flex align-items-center">
                                            <img class="bi-person-circle rounded-circle me-2" src="/account/avatar" width="36" height="36">
                                            <div class="row">
                                                <div class="col">
                                                    <span class="text-nowrap" th:text="${name}"></span>
                                                </div>
                                                <div th:unless="${adminuser}" th:remove="tag">
                                                    <div class="col">
                                                        <div class="w-100"></div>
                                                        <span class="text-nowrap"><i class="bi bi-cart me-2"></i>0 items</span>
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                        <h6 th:unless="${adminuser}" class="dropdown-header">Your cart</h6>
                                        <li th:unless="${adminuser}"><a class="dropdown-item" href="/cart">View your cart</a></li>
                                        <h6 th:unless="${adminuser}" class="dropdown-header">Your delivery</h6>
                                        <li th:unless="${adminuser}"><a class="dropdown-item" href="/account/delivery?type=0">Current delivery</a></li>
                                        <li th:unless="${adminuser}"><a class="dropdown-item" href="/account/delivery?type=1">Purchase history</a></li>
                                        <h6 th:if="${adminuser}" class="dropdown-header">Administrator area</h6>
                                        <li th:if="${adminuser}"><a class="dropdown-item" href="/admin/dashboard">Go to admin dashboard</a></li>
                                        <h6 class="dropdown-header">Your account settings</h6>
                                        <li><a class="dropdown-item" href="/account/profile">Profile</a></li>
                                        <li><a class="dropdown-item" href="/account/address">Delivery address</a></li>
                                        <li><a class="dropdown-item" href="/account/change-password">Change password</a></li>
                                        <h6 class="dropdown-header">Auth</h6>
                                        <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                                    </ul>
                                </li>
                                <div th:unless="${conidtion}" th:remove="tag">
                                    <li class="nav-item">
                                        <a class="nav-link mx-2 px-3 auth" href="/auth/login">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mx-2 px-3 auth" href="/auth/register">Register</a>
                                    </li>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
</body>
</html>