<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="header" th:remove="tag">
        <header>
            <nav class="navbar navbar-expand-sm navbar-light" id="nav-bar">
                <div class="container">
                    <a class="navbar-brand" href="/"><img src="/static_files/images/logos/logo_2.png" height="60" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ms-auto ">
                            <li class="nav-item">
                                <a class="nav-link mx-2 px-3 active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-2 px-3" href="#">Browse Category</a>
                            </li>
                            <div th:with="conidtion=${name != null}" th:remove="tag">
                                <li class="nav-item dropdown" th:if="${conidtion}">
                                    <a class="nav-link mx-2 px-3 auth dropdown-toggle" href="#"
                                        id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="bi bi-person-circle text-center me-2"></i><span class="text-center" th:text="${name}"></span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Your current delivery</a></li>
                                        <li><a class="dropdown-item" href="#">Your purchase history</a></li>
                                        <li><a class="dropdown-item" href="#">Account Settings</a></li>
                                        <hr />
                                        <li><a class="dropdown-item" href="/admin/dashboard">Go to admin dashboard</a>
                                        </li>
                                        <hr />
                                        <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                                    </ul>
                                </li>
                                <div th:unless="${conidtion}" th:remove="tag">
                                    <li class="nav-item">
                                        <a class="nav-link mx-2 px-3 auth" href="/auth/login">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mx-2 px-3 auth" href="/auth/register">Register</a>
                                    </li>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
</body>

</html>