<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="~{/admin/fragments/head :: headtag(title=${(action.compareTo('edit') == 0 ? 'Update' : 'Add') + ' a product manufacturer - Product Manufacturers'})}"></head>
<body>
    <div lang="en" th:replace="~{/admin/fragments/sideNavBar :: sidenavbar(tab='products', user=${name})}"></div>
    <section id="admin-page-data" class="col-sm p-3 min-vh-100" th:with="condition=${action == null ? true : action.compareTo('edit') == 0 ? false : true}">
        <a href="/admin/products/manufacturers"><i class="bi bi-arrow-left-circle" style="font-size: 2rem;"></i></a>
        <div th:if="${condition}" th:remove="tag">
            <h2>Add product manufacturer</h2>
            <h4>Add a product manufacturer</h4>        
        </div>
        <div th:unless="${condition}">
            <h2>Update product manufacturer</h2>
            <h4 th:text="${'Product manufacturer' + (productManufacturer == null ? '' : productManufacturer.getName()) + ' with ID ' + (productManufacturer == null ? '' : productManufacturer.getId())}"></h4>
        </div>
        <hr />
        <form class="modal-body" id="modal-product-manufacturer-modify">
            <div id="modal-info-bar" class="text-left text-white mb-3 p-2 rounded-1" style="visibility: hidden;"></div>
            <div th:unless="${condition}" class="form-floating mb-3">
                <input type="text" class="form-control" name="id" readonly th:value="${productManufacturer == null ? '' : productManufacturer.getId()}">
                <label for="floatingInput">ID</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="name" th:value="${productManufacturer == null ? '' : productManufacturer.getName()}">
                <label for="floatingInput">Name</label>
            </div>
            <button type="button" class="btn btn-success me-1 px-4 py-2" th:if="${condition}" onclick="addNewProductManufacturer()">Add</button>
            <button type="button" class="btn btn-success me-1 px-4 py-2" th:unless="${condition}" onclick="updateProductManufacturer()">Save Changes</button>
            <a href="/admin/products/categories"><button type="button" class="btn btn-primary mx-1 px-4 py-2" data-bs-dismiss="modal">Cancel</button></a>
        </form>
    </section>
</body>
</html>