body {
    --sidebar-width: 200px;
}

#admin-page-sidenavbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100%;
    padding: 10px 14px;
}

#admin-page-data {
    top: 0;
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    position: absolute;
}

.nav-link:hover,
.user-actions-hover:hover {
    background-color: rgb(13, 110, 253);
    color: white !important;
}
