.bg-main {
    background-color: var(--main-color);
    color: black;
}

.product-summary-area {
    margin-top: 50px;
    margin-bottom: 30px;
}

img {
    max-width: 100%;
}

.img-preview.nav-link {
    border-radius: 5px;
    border-width: 5px;
    border-color: white;
}

.img-preview.nav-link.active {
    border-color: var(--main-color);
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.item-preview-thumb {
    max-width:  78px;
    max-height: 78px;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 10px;
}

.preview-thumbnail.nav-tabs li {
    /* width: 18%; */
    margin-right: 10px;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 75%;
    max-width: 75%;
    display: block;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}
    
@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.product-title,
.price {
    text-transform: UPPERCASE;
    font-weight: bold;
}

.mb-5px {
    margin-bottom: 5px !important;
}

.mb-10px {
    margin-bottom: 10px !important;
}

.add-to-cart,
.like {
    background: var(--main-color);
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: black;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.add-to-cart:hover,
.like:hover {
    background: #b36800;
    color: #fff;
}

.tooltip-inner {
    padding: 1.3em;
}
