<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="~{/admin/fragments/head :: headtag(title=${(action.compareTo('edit') == 0 ? 'Update' : 'Add') + ' a product - Products'})}"></head>
<body>
    <div lang="en" th:replace="~{/admin/fragments/sideNavBar :: sidenavbar(tab='products', user=${name})}"></div>
    <section id="admin-page-data" class="col-sm p-3 min-vh-100" th:with="condition=${action == null ? true : action.compareTo('edit') == 0 ? false : true}">
        <a href="/admin/products"><i class="bi bi-arrow-left-circle" style="font-size: 2rem;"></i></a>
        <div th:if="${condition}" th:remove="tag">
            <h2>Add product</h2>
            <h4>Add a product</h4>        
        </div>
        <div th:unless="${condition}">
            <h2>Update product</h2>
            <h4 th:text="${'Product ' + (product == null ? '' : product.getName()) + ' with ID ' + (product == null ? '' : product.getId())}"></h4>
        </div>
        <hr />
        <form class="modal-body" id="modal-product-modify">
            <div id="modal-info-bar" class="text-left text-white mb-3 p-2 rounded-1" style="visibility: hidden;"></div>
            <div th:unless="${condition}" class="form-floating mb-3">
                <input type="text" class="form-control" name="id" readonly th:value="${product == null ? '' : product.getId()}">
                <label for="floatingInput">ID</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="name" th:value="${product == null ? '' : product.getName()}">
                <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-control form-select" name="categoryid" json-type="number">
                    <option th:each="item: ${productCategoryList}" th:value="${item.getId()}" th:text="${item.getName()}" th:selected="${product == null ? false : item.getId() == product.getCategoryId()}"></option>
                </select>
                <label for="floatingInput">Category</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-control form-select" name="manufacturerid" json-type="number">
                    <option th:each="item: ${productManufacturerList}" th:value="${item.getId()}" th:text="${item.getName()}" th:selected="${product == null ? false : item.getId() == product.getManufacturerId()}"></option>
                </select>
                <label for="floatingInput">Manufacturer</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" name="inventorycount" min="0" th:value="${product == null ? '0' : product.getInventoryCount()}">
                <label for="floatingInput">Inventory Count</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="unit" th:value="${product == null ? '' : product.getUnit()}">
                <label for="floatingInput">Unit</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" name="warrantymonth" min="0" th:value="${product == null ? '' : product.getWarrantyMonth()}">
                <label for="floatingInput">Warranty Month</label>
            </div>
            <div th:unless="${condition}" class="form-floating mb-3">
                <input type="text" class="form-control" name="datecreated" min="0" disabled th:value="${#calendars.format(new java.util.Date(product.getDateCreated()), 'dd/MM/yyyy HH:mm:ss')}">
                <label for="floatingInput">Date Created</label>
            </div>
            <div th:unless="${condition}" class="form-floating mb-3">
                <input type="text" class="form-control" name="datemodified" min="0" disabled th:value="${#calendars.format(new java.util.Date(product.getDateModified()), 'dd/MM/yyyy HH:mm:ss')}">
                <label for="floatingInput">Date Modified</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" name="price" min="0" th:value="${product == null ? '' : product.getPrice()}">
                <label for="floatingInput">Price</label>
            </div>
            <button type="button" class="btn btn-success me-1 px-4 py-2" th:if="${condition}" onclick="addNewProduct()">Add</button>
            <button type="button" class="btn btn-success me-1 px-4 py-2" th:unless="${condition}" onclick="updateProduct()">Save Changes</button>
            <a href="/admin/products"><button type="button" class="btn btn-primary mx-1 px-4 py-2" data-bs-dismiss="modal">Cancel</button></a>
        </form>
    </section>
</body>
</html>