<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="~{admin/fragments/head :: headtag(title=${'Product article - Products'})}"></head>

<body>
    <div lang="en" th:replace="~{admin/fragments/sideNavBar :: sidenavbar(tab='products', user=${name})}"></div>
    <section id="admin-page-data" class="col-sm p-3 min-vh-100"
        th:with="condition=${action == null ? true : action.compareTo('edit') == 0 ? false : true}">
        <a href="/admin/products"><i class="bi bi-arrow-left-circle" style="font-size: 2rem;"></i></a>
        <div th:unless="${condition}">
            <h2>Product article</h2>
            <h4
                th:text="${'Product ' + (product == null ? '' : product.getName()) + ' with ID ' + (product == null ? '' : product.getId())}">
            </h4>
        </div>
        <hr />
        <div id="modal-info-bar" class="text-left text-white bg-primary p-2 mb-3 rounded-1" th:if="${barMsg != null}"
            th:utext="${barMsg}"></div>
        <nav th:unless="${condition}" class="nav nav-pills nav-justified">
            <a class="nav-link mx-1 py-2" aria-current="page"
                th:href="${'/admin/products/update?id=' + product.getId()}"
                th:classappend="${tab == 0 ? 'active' : ''}">Basic information</a>
            <a class="nav-link mx-1 py-2" aria-current="page"
                th:href="${'/admin/products/article?id=' + product.getId()}"
                th:classappend="${tab == 1 ? 'active' : ''}">Article</a>
            <a class="nav-link mx-1 py-2" aria-current="page"
                th:href="${'/admin/products/specifications?id=' + product.getId()}"
                th:classappend="${tab == 2 ? 'active' : ''}">Specifications</a>
            <a class="nav-link mx-1 py-2" aria-current="page"
                th:href="${'/admin/products/images?id=' + product.getId()}"
                th:classappend="${tab == 3 ? 'active' : ''}">Images</a>
        </nav>
        <form action="/admin/products/article" method="post" id="article-form">
            <input type="text" th:value="${product.getId()}" readonly hidden name="id">
            <div class="mt-3 text-end">
                <span class="fs-5 me-3">Powered by <a
                        href="https://github.com/sparksuite/simplemde-markdown-editor">simplemde-markdown-editor</a></span>
                <button type="submit" class="btn btn-success me-1 px-4 py-2">Save Changes</button>
            </div>
            <div class="mt-3">
                <textarea type="text" rows="4" id="articlecontent" name="articlecontent" placeholder="Content"
                    class="form-control" form="article-form" autocomplete="off"
                    th:text="${product.getArticle()}"></textarea>
            </div>
        </form>
    </section>
    <script>
        var simplemde = new SimpleMDE({ element: document.getElementById("articlecontent") });
    </script>
</body>

</html>