<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="~{admin/fragments/head :: headtag(title=${'Dashboard'})}"></head>

<body>
    <div lang="en" th:replace="~{admin/fragments/sideNavBar :: sidenavbar(tab='dashboard', user=${name})}"></div>
    <section id="admin-page-data" class="col-sm p-3 min-vh-100">
        <!-- content -->
        <h2>Dashboard</h2>
        <h4>Summary about your store</h4>
        <hr />
        <div class="card mb-2">
            <div class="card-body">
                <div>
                    <h5 class="card-title">Delivery information</h5>
                    <p class="card-text" th:text="@{You have {count} deliver{s} remaining.(count=${dashboard.getRemainingDeliveries()}, s=${dashboard.getRemainingDeliveries() != 1 ? 'ies' : 'y'})}"></p>
                    <a th:href="@{/admin/bills}" class="card-link">Go to bills</a>
                </div>

                <div class="mt-5">
                    <h5 class="card-title mb-2">Statistics on this month</h5>
                    <p class="card-text" th:text="@{Total amount in this month: ${totalPrice}(totalPrice=${statistics.getTotalPrice()})}"></p>

                    <p class="card-text" th:text="@{Delivery status: {c1} completed deliver{s1} out of {total} deliver{s2}(c1=${statistics.getCompletedDelivery()}, s1=${statistics.getCompletedDelivery() == 1 ? 'y' : 'ies'}, total=${statistics.getTotalDelivery()}, s2=${statistics.getTotalDelivery() == 1 ? 'y' : 'ies'})}"></p>
                    <a th:href="@{/admin/bills}" class="card-link">Go to bills</a>    
                </div>
            </div>
        </div>
    </section>
</body>

</html>