<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/admin-page.css}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"></script>
    <title>Users - Phone Store Manager [Administrator]</title>
</head>
<body>
    <div lang="en" th:replace="~{/fragments/sidenavbar :: sidenavbar(tab='users', user=${name})}"></div>
    <div id="admin-page-data" class="col-sm p-3 min-vh-100">
        <h2>Users</h2>
        <h4>Manage user accounts</h4>
        <hr />
        <div class="w-100 pb-2 d-flex justify-content-end">
            <!-- <a href="#" class="ps-2"><button type="button" class="btn btn-primary">Refresh</button></a> -->
            <a href="#" class="ps-2"><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#dialog-addnew">Create new</button></a>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered border-primary">
                <thead>
                    <th class="text-center">ID</th>
                    <th class="text-center">Username</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Phone</th>
                    <th class="text-center">User Type</th>
                    <th class="text-center">Date Created</th>
                    <th class="text-center">Date Modified</th>
                    <th class="text-center">Enabled</th>
                    <th class="text-center">Actions</th>
                </thead>
                <tbody>
                    <tr th:each="item: ${userList}">
                        <td class="text-center" th:text="${item.get('id').getAsInt()}"></td>
                        <td class="text-center" th:text="${item.get('username').getAsString()}"></td>
                        <td class="text-center" th:text="${item.get('name').getAsString()}"></td>
                        <td class="text-center" th:text="${!item.get('email').isJsonNull() ? item.get('email').getAsString() : ''}"></td>
                        <td class="text-center" th:text="${!item.get('phone').isJsonNull() ? item.get('phone').getAsString() : ''}"></td>
                        <td class="text-center" th:text="${item.get('usertype').getAsInt() == 2 ? 'Administrator' : item.get('usertype').getAsInt() == 1 ? 'Staff' : 'User'}"></td>
                        <td class="text-center" th:text="${#calendars.format(new java.util.Date(item.get('datecreated').getAsLong()), 'dd/MM/yyyy HH:mm:ss')}"></td>
                        <td class="text-center" th:text="${#calendars.format(new java.util.Date(item.get('datemodified').getAsLong()), 'dd/MM/yyyy HH:mm:ss')}"></td>
                        <div th:with="condition=${item.get('isenabled').getAsBoolean()}" th:remove="tag">
                            <td class="text-center" th:if="${condition}" th:text="Yes"></td>
                            <td class="text-center" th:unless="${condition}" th:text="No"></td>
                        </div>
                        
                        <td class="text-center">
                            <a href="#"><button type="button" class="btn btn-primary">Update</button></a>
                            <a href="#"><button type="button" class="btn btn-danger">Delete</button></a>
                        </td>
                    </tr>
                </tbody>
            </table>    
        </div>
        <div class="modal fade" id="dialog-addnew" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-lg">
                <form class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add new user</h4>
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal"></button> -->
                    </div>
        
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div id="dialog-addnew-errline" class="text-left text-white bg-danger mb-3 p-2 rounded-1" style="visibility: hidden;"></div>
                        <div class="form-floating mb-3">
                            <input type="text" id="dialog-addnew-tbname" name="name" class="form-control">
                            <label for="floatingInput">Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" id="dialog-addnew-tbemail" name="email" class="form-control">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="tel" id="dialog-addnew-tbphone" name="phone" class="form-control">
                            <label for="floatingInput">Phone</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" id="dialog-addnew-tbusername" name="username" class="form-control">
                            <label for="floatingInput">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" id="dialog-addnew-tbpassword" name="password" class="form-control">
                            <label for="floatingInput">Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" id="dialog-addnew-tbrepassword" class="form-control">
                            <label for="floatingInput">Re-enter Password</label>
                        </div>
                    </div>
        
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button id="dialog-addnew-btnadd" type="button" onclick="addNewUser()" class="btn btn-primary">Add</button>
                        <button id="dialog-addnew-btncancel" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
        
    async function addNewUser() {
        function setErrText(text) {
            var errLine = document.getElementById('dialog-addnew-errline');
            if (text != null) {
                errLine.style.visibility = null;
                errLine.textContent = text;
            } else {
                errLine.style.visibility = 'hidden';
                errLine.textContent = null;
            }
        }

        var btnAdd = document.getElementById('dialog-addnew-btnadd');
        var btnCancel = document.getElementById('dialog-addnew-btncancel');

        var tbName = document.getElementById('dialog-addnew-tbname');
        var tbEmail = document.getElementById('dialog-addnew-tbemail');
        var tbPhone = document.getElementById('dialog-addnew-tbphone');
        var tbUsername = document.getElementById('dialog-addnew-tbusername');
        var tbPassword = document.getElementById('dialog-addnew-tbpassword');
        var tbRePassword = document.getElementById('dialog-addnew-tbrepassword');

        function enableControl(enabled) {
            tbName.readonly = !enabled;
            tbEmail.readonly = !enabled;
            tbPhone.readonly = !enabled;
            tbUsername.readonly = !enabled;
            tbPassword.readonly = !enabled;
            tbRePassword.readonly = !enabled;

            btnAdd.disabled = !enabled;
            btnCancel.disabled != enabled;
        }

        if (tbPassword.value !== tbRePassword.value) {
            setErrText("Re-enter password and Password mismatch!");
            return;
        }

        btnAdd.textContent = 'Adding...';
        enableControl(false);
        setErrText(null);

        const response = await fetch('/admin/users/new', {
            method: "POST",
            headers: {
                "Content-Type": "application/json; charset=UTF-8",
            },
            body: JSON.stringify({
                "type": "user",
                "username": tbUsername.value,
                "password": tbPassword.value,
                "name": tbName.value,
                "phone": tbPhone.value,
                "email": tbEmail.value
            })
        })
        .then(jsondata => jsondata.text())
        .then(body => {
            btnAdd.textContent = 'Add';
            enableControl(true);

            const result = JSON.parse(body);
            if (!result["isSuccessfulRequest"]) {
                setErrText(result["message"]);
            }

            if (result["statusCode"] != 200) {
                setErrText(result["message"]);
            } else {
                window.location.href = "/admin/users";
            }
        });
    }
</script>
</html>