<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- https://mdbootstrap.com/docs/standard/extended/border-radius/ -->
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
    <script th:src="@{/js/auth.js}"></script>
    <title>Register - Phone Store</title>
</head>
<body>
    <div id="auth-img">
        <div id="auth-form" class="card text-black rounded-2">
            <div class="card-body p-md-5 mx-md-4">
                <form class="modal-body" action="/auth/register" method="post" id="register-form">
                    <h4 class="text-center mb-4">Register</h4>
                    <div id="modal-info-bar" class="text-left text-white mb-3 p-2 rounded-1" style="visibility: hidden;"></div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                        <label for="floatingInput">Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone">
                        <label for="floatingInput">Phone</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        <label for="floatingInput">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="rePassword" name="rePassword" placeholder="Re-enter Password">
                        <label for="floatingInput">Re-enter Password</label>
                    </div>
                    <div class="text-center pt-1 mb-3 pb-1">
                        <button class="btn btn-outline-danger mb-3" type="button" onclick="register()" style="width: 100px;">Register</button>
                    </div>
                    <div class="d-flex align-items-center justify-content-center pb-4">
                        <p class="mb-0 me-2">Already have an account?</p>
                        <a href="/auth/login"><button type="button" class="btn btn-outline-danger">Login</button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>