<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{global/fragments/tag-head :: headtag(title=${'Change your password - Account Settings'})}">
    </div>
</head>

<body>
    <div lang="en" th:replace="~{global/fragments/header :: header(name=${name}, adminuser=${adminuser})}"></div>
    <div class="row w-100 d-flex justify-content-center">
        <div lang="en" th:replace="~{global/fragments/sidebar-account :: sidebar(type=1, tab=2)}" th:remove="tag">
        </div>
        <section id="page-account-data" class="col-sm p-3">
            <h2>Change your password</h2>
            <h4>Enhance your account security by make password unique and not use common password.</h4>
            <hr />
            <div id="modal-info-bar" th:if="${barMsg != null}"
                class="text-left text-white bg-primary mb-3 p-2 rounded-1" th:utext="${barMsg}"></div>
            <form id="form-user-changepass" th:action="@{/account/change-password}" method="post">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="old-pass">
                    <label for="floatingInput">Current password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="new-pass">
                    <label for="floatingInput">New password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="re-new-pass">
                    <label for="floatingInput">Re-enter new password</label>
                </div>
                <button id="form-btnok" type="submit" class="btn btn-action-color px-5 py-3">Change password</button>
            </form>
        </section>
    </div>
    <div lang="en" th:replace="~{global/fragments/footer :: footer}"></div>
</body>

</html>