<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="~{/admin/fragments/head :: headtag(title=${action == 'add' ? 'Add' : 'Update' + ' a user - Users'})}"></head>
<body>
    <div lang="en" th:replace="~{/admin/fragments/sideNavBar :: sidenavbar(tab='users', user=${name})}"></div>
    <div id="admin-page-data" class="col-sm p-3 min-vh-100" th:with="condition=${action}">
        <a href="/admin/users"><i class="bi bi-arrow-left-circle" style="font-size: 2rem;"></i></a>
        <div th:if="${condition == 'add'}">
            <h2>Add user</h2>
            <h4>Add a user</h4>        
        </div>
        <div th:unless="${condition == 'add'}">
            <h2>Update user</h2>
            <h4 th:text="${'User ' + (user.getUsername()) + ' with ID ' + (user.getId())}"></h4>
        </div>
        <hr />
        <form class="modal-body" id="modal-user-modify">
            <div id="modal-info-bar" class="text-left text-white mb-3 p-2 rounded-1" style="visibility: hidden;"></div>
            <div th:unless="${condition == 'add'}" class="form-floating mb-3">
                <input type="text" name="id" class="form-control" readonly th:value="${user == null ? '' : user.getId()}">
                <label for="floatingInput">ID</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" name="name" class="form-control" th:value="${user == null ? '' : user.getName()}">
                <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" name="email" class="form-control" th:value="${user == null ? '' : user.getEmail()}">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="tel" name="phone" class="form-control" th:value="${user == null ? '' : user.getPhone()}">
                <label for="floatingInput">Phone</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" name="username" class="form-control" th:value="${user == null ? '' : user.getUsername()}">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-control form-select" name="usertype">
                    <option value="0" th:selected="${user == null ? false : user.getUserType() == 0}">User</option>
                    <option value="1" th:selected="${user == null ? false : user.getUserType() == 1}">Staff</option>
                    <option value="2" th:selected="${user == null ? false : user.getUserType() == 2}">Administrator</option>
                </select>
                <label for="floatingInput">User type</label>
            </div>
            <div th:if="${condition == 'add'}" class="form-floating mb-3">
                <input type="password" name="password" class="form-control">
                <label for="floatingInput">Password</label>
            </div>
            <div th:if="${condition == 'add'}" class="form-floating mb-3">
                <input type="password" name="repassword" class="form-control">
                <label for="floatingInput">Re-enter Password</label>
            </div>
            <button type="button" th:if="${condition == 'add'}" onclick="addNewUser()" class="btn btn-primary me-1 px-4 py-2">Add</button>
            <button type="button" th:unless="${condition == 'add'}" onclick="updateUser()" class="btn btn-primary me-1 px-4 py-2">Save Changes</button>
            <a th:unless="${condition == 'add'}" th:href="${'/admin/users/resetpassword?id=' + user.getId()}"><button type="button" th:unless="${condition == 'add'}" class="btn btn-primary mx-1 px-4 py-2">Reset Password</button></a>
            <a href="/admin/users"><button type="button" class="btn btn-danger mx-1 px-4 py-2" data-bs-dismiss="modal">Cancel</button></a>
        </form>
    </div>
</body>
</html>