<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="~{admin/fragments/head :: headtag(title=${'Users'})}"></head>
<body>
    <div lang="en" th:replace="~{admin/fragments/sideNavBar :: sidenavbar(tab='users', user=${name})}"></div>
    <div id="admin-page-data" class="col-sm p-3 min-vh-100">
        <h2>Users</h2>
        <h4>Manage user accounts</h4>
        <hr />
        <div class="row">
            <div class="col-md-6 pb-2 d-flex justify-content-start">
                <form class="input-group" style="width: 400px;" th:action="@{/admin/users}" method="get">
                    <input type="text" class="form-control" id="q" name="q" th:value="${query == null ? '' : query}">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>    
                </form>
            </div>
            <div class="col-md-6 pb-2 d-flex justify-content-end">
                <a th:href="@{/admin/users/add}" class="ps-2"><button type="button" class="btn btn-success">Add new</button></a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered border-primary">
                <thead>
                    <th class="text-center">ID</th>
                    <th class="text-center">Username</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Phone</th>
                    <th class="text-center">User Type</th>
                    <th class="text-center">Date Created</th>
                    <th class="text-center">Date Modified</th>
                    <th class="text-center">Enabled</th>
                    <th class="text-center">Actions</th>
                </thead>
                <tbody>
                    <tr th:each="item: ${userList}">
                        <td class="text-center" th:text="${item.getId()}"></td>
                        <td class="text-center" th:text="${item.getUsername()}"></td>
                        <td class="text-center" th:text="${item.getName()}"></td>
                        <td class="text-center" th:text="${item.getEmail()}"></td>
                        <td class="text-center" th:text="${item.getPhone()}"></td>
                        <div th:with="conidtion=${item.getUserType()}" th:remove="tag">
                            <td class="text-center" th:if="${item.getUserType() == 2}">Administrator</td>
                            <td class="text-center" th:if="${item.getUserType() == 1}">Staff</td>
                            <td class="text-center" th:if="${item.getUserType() == 0}">User</td>    
                        </div>
                        <td class="text-center"
                            th:text="${#calendars.format(new java.util.Date(item.getDateCreated()), 'dd/MM/yyyy HH:mm:ss')}">
                        </td>
                        <td class="text-center"
                            th:text="${#calendars.format(new java.util.Date(item.getDateModified()), 'dd/MM/yyyy HH:mm:ss')}">
                        </td>
                        <div th:with="condition=${item.getIsEnabled()}" th:remove="tag">
                            <td class="text-center" th:if="${condition}" th:text="Yes"></td>
                            <td class="text-center" th:unless="${condition}" th:text="No"></td>
                        </div>
                        
                        <td class="text-center">
                            <a th:href="@{/admin/users/update?id={id}(id=${item.getId()})}"><button type="button" class="btn btn-primary">Update</button></a>
                            <div th:with="condition=${item.getIsEnabled()}" th:remove="tag">
                                <a th:if="${condition}" th:href="@{/admin/users/toggle?enabled=0&id={id}(id=${item.getId()})}">
                                    <button type="button" class="btn btn-danger">Disable</button>
                                </a>
                                <a th:unless="${condition}" th:href="@{/admin/users/toggle?enabled=1&id={id}(id=${item.getId()})}">
                                    <button type="button" class="btn btn-success">Enable</button>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>    
        </div>
    </div>
</body>
</html>