<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="~{admin/fragments/head :: headtag(title=${'Update order status - Bills'})}"></head>
<body>
<div lang="en" th:replace="~{admin/fragments/sideNavBar :: sidenavbar(tab='users', user=${name})}"></div>
<div id="admin-page-data" class="col-sm p-3 min-vh-100">
    <a th:href="@{/admin/bills}"><i class="bi bi-arrow-left-circle" style="font-size: 2rem;"></i></a>
    <h2>Update order</h2>
    <h4 th:text="${'Order ID ' + billItem.getId() + ' by ' + billItem.getUser().getName()}"></h4>
    <hr/>
    <form class="modal-body"
          th:action="@{/admin/bills/update?returnurl={url}(url=${returnurl == null ? '' : returnurl})}"
          method="post">
        <div id="modal-info-bar" class="text-left text-white mb-3 p-2 rounded-1" style="visibility: hidden;"></div>
        <div class="form-floating mb-3">
            <input type="text" name="orderid" class="form-control" readonly
                   th:value="${billItem == null ? '' : billItem.getId()}">
            <label for="floatingInput">ID</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" readonly
                   th:value="${billItem == null ? '' : billItem.getUser().getName()}">
            <label for="floatingInput">User</label>
        </div>
        <div class="form-floating mb-3">
                        <textarea type="text-area" class="form-control" th:text="${useraddress}"
                                  style="height: 100px" readonly></textarea>
            <label for="floatingInput">Delivery address</label>
        </div>
        <div class="form-floating mb-3">
                        <textarea type="text-area" class="form-control" th:text="${billItem.getUserMessage()}"
                                  readonly></textarea>
            <label for="floatingInput">User message</label>
        </div>
        <div class="form-floating mb-3">
            <select class="form-control form-select" name="status">
                <option value="-2" th:selected="${billItem == null ? billItem : billItem.getDeliverStatus() == -2}">
                    Failed
                </option>
                <option value="-1" th:selected="${billItem == null ? billItem : billItem.getDeliverStatus() == -1}">
                    Cancelled
                </option>
                <option value="0" th:selected="${billItem == null ? billItem : billItem.getDeliverStatus() == 0}"
                        disabled>Waiting for purchase
                </option>
                <option value="1" th:selected="${billItem == null ? billItem : billItem.getDeliverStatus() == 1}"
                        disabled>Waiting for confirm
                </option>
                <option value="2" th:selected="${billItem == null ? billItem : billItem.getDeliverStatus() == 2}">
                    Preparing
                </option>
                <option value="3" th:selected="${billItem == null ? billItem : billItem.getDeliverStatus() == 3}">
                    Delivering
                </option>
                <option value="4" th:selected="${billItem == null ? billItem : billItem.getDeliverStatus() == 4}">
                    Completed
                </option>
            </select>
            <label for="floatingInput">Order status</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" name="statusAddress" class="form-control"
                   th:value="${user == null ? '' : billItem.getStatusAddress()}">
            <label for="floatingInput">Status Address (this will show user current delivery address if
                delivering)</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" name="statusAdditional" class="form-control"
                   th:value="${user == null ? '' : billItem.getStatusAdditional()}">
            <label for="floatingInput">Additional status</label>
        </div>
        <button type="submit" class="btn btn-primary me-1 px-4 py-2">Save Changes</button>
        <a th:href="@{/admin/bills}">
            <button type="button" class="btn btn-danger mx-1 px-4 py-2" data-bs-dismiss="modal">Cancel</button>
        </a>
    </form>
</div>
</body>
</html>